img {
    max-height: 80px;
}

/*selectors */
.heading {
    font-size: 25px;
}
.margin-top {
    margin-top: 10px;
}
.contact-list{
    align-content: center;
    margin-left: 50px;
}
/*.heading {
    margin: 0 auto;
}*/